.main-page {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 20px;
    padding: 20px;
    color: #494949;
}

.text-content {
    padding-left: 50px;
    line-height: 1.6;
}

.sidebar-content {
    background-color: #f4f4f4;
    color: #F457A3;
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    border-radius: 25px;
}

.sidebar-content p {
    color: 494949;
}