.project-page .header {
    background-color: #FD78B8;
    color: #f4f4f4;
    border-radius: 50px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    font-size: 2em;
    font-family: 'Bagel Fat One', sans-serif;
}