#header nav {
    font-size: medium;
    font-family: 'Bagel Fat One', sans-serif;
    top: 0;
    left: 0;
    width: 80%;
    background-color: #FD78B8;
    padding: 10px;
    text-align: center;
    border-radius: 80px;
}

#header nav ul {
    list-style: none;
    margin-left: 350px;
}

#header nav ul li {
    display: inline;
    margin-right: 100px;
}

#header nav ul li a{
    color: #f4f4f4;
    text-decoration: none;
}

#header nav ul li a:hover {
    text-decoration: underline;
}

#header {
    background-color: #FD78B8;
    color: #f4f4f4;
    border-radius: 80px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    font-size: 2em;
    font-family: 'Bagel Fat One', sans-serif;
}