@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2{
  font-family: 'Bagel Fat One', sans-serif;
}

p {
  font-family: 'Georama', sans-serif;
}

ul li {
  font-family: 'Georama', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.images {
  background-color: #f4f4f4;
  border: 10px solid #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 75px;
  margin-bottom: 100px;
  display: inline-block;
}

.images img {
  width: 100%;
  height: auto;
  display: block;
}

#header nav {
  font-size: medium;
  font-family: 'Bagel Fat One', sans-serif;
  top: 0;
  left: 0;
  width: 80%;
  background-color: #FD78B8;
  padding: 10px;
  text-align: center;
  border-radius: 80px;
  margin-left: 175px;
}

#header nav a{
  display: inline;
  margin-right: 100px;
  color: #f4f4f4;
  text-decoration: none;
}

#header nav a:hover {
  text-decoration: underline;
  color: #F457A3;
}

#header {
  background-color: #FD78B8;
  color: #f4f4f4;
  border-radius: 80px;
  padding: 20px;
  margin: 50px;
  text-align: center;
  font-size: 2em;
  font-family: 'Bagel Fat One', sans-serif;
}

#footer {
  background-color: #FD78B8;
  color: #f4f4f4;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-size: small;
}
