.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    color: #494949;
}

.text-content {
    margin-left: 20px;
    padding-left: 50px;
    line-height: 1.6;
    padding-bottom: 20px;
}

.sidebar-content {
    background-color: #f4f4f4;
    color:#494949;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 50px;
    border-radius: 25px;
    line-height: 2;
}

h2 {
    color: #F457A3;
}

a {
    color: #494949;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #F457A3;
}
