/* Skills */
.skills-list {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 0.5rem 1rem;
  list-style: none;
  padding: 0;
 
}

.skills-list h2 {
    color: var(--main);
}

.skills-list li {
  background: var(--card-bg);
  padding: 0.6rem 0.8rem;
  border-radius: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
  transition:
    transform 0.2s ease,
    box-shadow 0.3s ease;
}

.skills-list li:hover {
  background: var(--main);
  color: white;
  box-shadow: 0 4px 12px var(--main);
  transform: scale(1.05);
}

/* info section */
.info-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.resume {
  padding: 1.5rem 0.75rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  grid-column: 1;
  grid-row: 2;
}

.education {
  padding: 1.5rem 0.75rem;
  border-radius: 1rem; 
  margin-bottom: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.contact {
  padding: 1.5rem 0.75rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-content: center;
  align-items: center;
}

